{{!-- <section class="container-cart">
    {{#each productInCart}}
    <div class="cart-product">
        <article>
            <img src="{{this.product.thumbnails}}" alt="{{this.producto.title}}">
        </article>
        <div class="product-data">
            <h4>{{this.product.title}}</h4>
            <p>{{this.product.category}}</p>
        </div>
        <div class="product-data_2">
            {{this.product.price}}
            {{this.quantity}}
        </div>
    </div>
    {{/each}}
</section> --}}
{{#if productInCart}}

<section class="container">
<section class="container_shopping_cart">
    <h1>Carrito</h1>
<section class="container_cart">
        {{#each productInCart}}
    <div class="cart_products">
        <article>
            <img src="{{this.product.thumbnails}}" alt="{{this.product.title}}">
        </article>
        <div class="product_data">
            <h5>{{this.product.title}}</h5>
            <p>Categoria: {{this.product.category}}</p>
            <p>Cantidad: {{this.quantity}}</p>
        </div>
        <div class="product_data2">
            <p>${{this.product.price}}</p>
            <button onclick="deleteProductFromCart('{{../cart._id}}', '{{this.product._id}}')">X</button>

        </div>
    </div>
        {{/each}}

</section>
</section>

<section class="container_buy_products">
    <h2>Resumen</h2>
    <div class="container_price">
        <p>Subtotal:</p>
        <p>$ {{subtotal}}</p>
    </div>
    <div class="container_price">
        <p>Envio:</p>
        <p>$ {{shippingCost}}</p>
    </div>
    <div class="container_price">
        <p>Total:</p>
        <p>$ {{totalPrice}}</p>
    </div>
    <button onclick="purchaseCart('{{cart._id}}')">Comprar</button>
</section>
</section>


<div id="ticketDetailsModal">

</div>



{{else}}
<section class="cart_empty"> 
    <h1>Carrito Vacio</h1>
    <a href="/products">Ver productos</a>
</section>
{{/if}}

<script src="/js/purchaseCart.js"></script>
<script src="/js/deleteProductFromCart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

