<div class="container_message">
    <p id="errorMessage">{{error}}</p>
    <p id="successMessage">{{message}}</p>
</div>



<div class="user_info">
    <article>
        <img src="/multer/users/imgs/{{user.avatar}}" alt="">
    </article>    
    <div class="profile_details">
    <p>{{user.email}}</p>
    <button class="logout-button" onclick="logoutSession()">Cerrar sesión</button>
    </div>
</div>



<section class="container">
    {{#if resultProductsViews.payload}}
    <h1>Productos</h1>
    {{#each resultProductsViews.payload}}
    <section class="container-products">
        <div class="container-image">
            {{#contains this.thumbnails 'https'}}
                <article>
                    <img src="{{this.thumbnails}}" alt="{{this.title}}">
                </article>
            {{else}}
                <article>
                    <img src="/multer/products/imgs/{{this.thumbnails}}" alt="">
                </article>
            {{/contains}}

        </div>
        <div class="container-description">
            <h5>{{this.title}}</h5>
            <p>Categoria: {{this.category}}</p>
            <p>${{this.price}}</p>
            <button type="button" id="addToCartBtn" onclick="addToCart('{{this._id}}');">Agregar al carrito</button>
                <a href="/product/{{this._id}}">Ver producto</a>
        </div>
    </section>
    
    {{/each}}



    {{#if resultProductsViews.hasPrevPage}}
    <a href="{{resultProductsViews.prevLink}}">Antras</a>
    {{/if}}
    {{#if resultProductsViews.nextLink}}
        <a href="{{resultProductsViews.nextLink}}">Siguiente</a>
    {{/if}}

    {{else}}
    <p>Sin productos</p>
    {{/if}}

</section>

<script src="/js/logoutSession.js"></script>

<script>
    function addToCart(idProduct) {
        const cartId = '{{userCartId}}';
        const successMessage = document.getElementById('successMessage')
        const errorMessage = document.getElementById('errorMessage')

        fetch(`http://localhost:8080/api/carts/${cartId}/products/${idProduct}/`,  {
            method: 'post'
        }).then(response => response.json())
        .then(data=> {
            Swal.fire({
                position: "top-end",
                icon: 'success',
                title: 'Producto Agregado correctamente',
                showConfirmButton: false,
                timer:1500
            })
            console.log('Producto agregado correctamente', data);
        })
        .catch(error => {
            Swal.fire({
                position: "top-end",
                icon: 'error',
                title: 'Error al agregar el producto al carrito',
                showConfirmButton: false,
                timer:1500
            })

            console.log(`Error al agregar el producto ${idProduct} al carrito ${cartId} ${error}`);
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
