

<section class="container-product_details">
    <div class="container-image">
        {{#contains productDetails.thumbnails 'https'}}
        <article>
            <img src="{{productDetails.thumbnails}}" alt="">
        </article>
        {{else}}
        <article>
            <img src="/multer/products/imgs/{{productDetails.thumbnails}}" alt="">
        </article>
        {{/contains}}
    </div>
    <div class="container-description">
        <h2>{{productDetails.title}}</h2>
        <p class="description">{{productDetails.description}}</p>
        <p class="category">Categoria: {{productDetails.category}}</p>
        <p class="price">${{productDetails.price}}</p>
        <button type="button" id="addToCartBtn" onclick="addToCart('{{productDetails._id}}', '{{userCartId}}')">Agregar al carrito</button>
    </div>
</section>
<script src="/js/products.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

